[submodule "ext/protobuf.Text"]
	path = ext/protobuf.Text
	url = https://github.com/allisterb/protobuf.Text.git
[submodule "ext/satsumagraph"]
	path = ext/satsumagraph
	url = https://github.com/allisterb/satsumagraph.git
[submodule "ext/automatic-graph-layout"]
	path = ext/automatic-graph-layout
	url = https://github.com/microsoft/automatic-graph-layout.git
[submodule "ext/unquote"]
	path = ext/unquote
	url = https://github.com/allisterb/unquote.git
[submodule "ext/FSketch"]
	path = ext/FSketch
	url = https://github.com/allisterb/FSketch.git
[submodule "ext/SharpVG"]
	path = ext/SharpVG
	url = https://github.com/allisterb/SharpVG.git
[submodule "ext/CoinMP"]
	path = ext/CoinMP
	url = https://github.com/coin-or/CoinMP.git
[submodule "ext/XPlot"]
	path = ext/XPlot
	url = https://github.com/allisterb/XPlot.git
[submodule "ext/Expect.NET"]
	path = ext/Expect.NET
	url = https://github.com/allisterb/Expect.NET.git
[submodule "ext/mathnet-symbolics"]
	path = ext/mathnet-symbolics
	url = https://github.com/mathnet/mathnet-symbolics.git
[submodule "ext/FunScript"]
	path = ext/FunScript
	url = https://github.com/allisterb/FunScript.git
[submodule "ext/Wit.ai.net"]
	path = ext/Wit.ai.net
	url = https://github.com/allisterb/Wit.ai.net.git
[submodule "ext/KaosCombinatorics"]
	path = ext/KaosCombinatorics
	url = https://github.com/allisterb/KaosCombinatorics.git
