[submodule "ext/protobuf.Text"]
	path = ext/protobuf.Text
	url = https://github.com/allisterb/protobuf.Text.git
[submodule "ext/satsumagraph"]
	path = ext/satsumagraph
	url = https://github.com/allisterb/satsumagraph.git
